<% include templates/_header.ejs %>
<div class="container">
<p>Enter username or name of the user you are searching for:</p>
<form action="/admin/searchUser" method="POST">
	<input type="text" name="userSearch" placeholder="username or name" autofocus required>
	<input type="submit" value="search">
</form>
</div><br>

<div class="container">
	<table class="table">
		<thread>
		<tr>
		<th>Username</th>
		<th>Name</th>
		<th>Email</th>
		<th>Status</th>
		<th>Level</th>
		<th>View Profile</th>
		</tr>
		</thread>
		<tbody>
	<% users.forEach(function(user){ %>
		    <tr>
        		<td><%= user.username %></td>
        		<td><%= user.name %></td>
        		<td><%= user.email %></td>
        		<td><%= user.level %></td>
        		<td><%= user.status %></td>
        		<td><a href="/admin/<%= user.username %>">View</a></td>
      		</tr>
    <% }) %>
		</tbody>
	</table>
	<span><a href="/admin"><<-- Back to admin</a></span>
</div>
<% include templates/_footer.ejs %>