<% include templates\_header.ejs %>
<div class="container">

	<span><a href="/adminSearchArticle"><<-- Back to article list</a></span><br><br>
<p>
<span>Author: <a href="/admin/<%= article.author%>"><%= article.author %></a></span><br>
<span>Created: <%= article.createdAt %></span><br>
<span>Comments: <%= article.comment.length %></span><br>
</p>
<form action="/adminArticleUpdate/<%= article.slug %>" method="POST">
	<span>Title:</span><br>
	<input type="text" name="title" value="<%= article.title %>"><br><br>
	<span>Header Image:</span><br>
	<img style="height:100px" src="/<%= article.headerImg %>"/><br><br>
	<span>Article text:</span><br>
	<textarea type="text" name="articleText" style="height:200px; width:700px"><%= article.articleText %></textarea><br>
	<input type="submit" value="Update article">
</form><br><br>
	<% if(article.status == "for_Review"){ %>
		<form action="/approveArticle/<%= article.slug %>" method="POST">
			<input type="submit" value="Approve Post">
		</form>
	<% } else { %>
		<form action="/unapproveArticle/<%= article.slug %>" method="POST">
			<input type="submit" value="Review Post">
		</form>
	<% } %>
	<form action="/adminArticleRemove/<%= article.slug %>" method="POST">
		<input type="submit" value="Delete Article">
	</form>

<p>
<h3>Comments:</h3>
<% article.comment.forEach(function(body){ %>
	<form action="/adminSearchArticleCommentRemoved/<%= article.slug %>" method="POST">
	<span>Comment made by:</span><br><input type="text" name="author" value="<%= body.commentAuthor %>" readonly><br>
	<a href="/admin/<%= body.commentAuthor%>">Go to user</a><br><br>
	<span>Comment made on: </span><br><input type="text" name="date" value="<%= body.createdAt %>" readonly><br><br>
	<textarea type="text" name="comment" style="height:200px" readonly><%= body.articleComment %></textarea><br>
	<input type="submit" value="Delete comment"> 
	</form>
	<hr>
<% }) %>
</p>
</div>
<% include templates\_footer.ejs %>