<% include templates\_header.ejs %>
<%if (currentUser){%>
	<a href="/article/<%= currentUser.username %>">My Articles</a>
<% } %>

<div class="list-of-post">
<% articles.forEach(function(article){ %>
<div class="post">
	<h2><a href="/articles/<%= article.slug %>"><%= article.title %></a></h2>
	<p>
		<span class="haze">Created on: <%= article.createdAt %></span><br>
		<span class="haze">Author: <%= article.author %></span><br>
		<span><%= article.articleText.substring(0, 350)%>...</span><br>
		<a href="/articles/<%= article.slug %>">Click here from more</a><br><br>
		<% if (!article.comment.length == 0) {%>
		<span class="haze">Comments: <%= article.comment.length %></span><br>
		<% } %>
		<% if(currentUser){ %>
			<% if(currentUser.username == article.author){ %>
				<a href="/editArticle/<%= article.slug %>/<%= article.author %>">Edit article</a>
			<% } %>
		<% } %>
		<hr>
	</p>
</div>
<% }) %>
</div>

<div class="paginations">
	
</div>

<% include templates\_footer.ejs %>
