<% include templates/_header.ejs %>


    <% if(currentUser) { %>
  	<h2>Hi <%= currentUser.displayName()%></h2>
    <% } %>
    <% homeArticles.forEach(function(article){%>
    <div class="row">   	
    <div class="col-lg-5">
    <h2><%= article.title %></h2><br>
    <article><%= article.text %></article>
    </div><br><br>
    <div class="col-lg-7">
      <img style="height:375px" src="/<%= article.img %>"/>
    </div>
    </div>
    <%})%>
<!--    <% articles.forEach(function(article){ %>
   <% if(article.status == "Posted") {%>
   	<h4><a href="/articles/<%= article.id %>"><%= article.title %></a></h4>
   	<span class="haze">Created on: <%= article.createdAt %></span><br>
    <span class="haze">Author: <%= article.author %></span><br>
		<span><%= article.articleText.substring(0, 100)%>...</span><br>
    <% if(!article.comment.length == 0){ %>
    <span class="haze">Comments: <%= article.comment.length %></span><br>
    <% } %>
		<a href="/articles/<%= article.id %>">Click here from more</a>
    <% } %>
   	<% }) %> -->
 



<% include templates/_footer.ejs %>
