<% include templates\_header.ejs %>
<div class="container">
  <div class="jumbotron">
  	<% if (currentUser) {%>
  	<h2>Hi <%= currentUser.displayName()%></h2>

   		<span>Most recent articles:</span><br><br>
   <% articles.forEach(function(article){ %>

   		<h4><a href="/articles/<%= article.slug %>"><%= article.title %></a></h4>
   		<span class="haze">Created on: <%= article.createdAt %></span><br>
		<span><%= article.articleText.substring(0, 100)%>...</span><br>
		<a href="/articles/<%= article.slug %>">Click here from more</a>
   	<% }) %>
   <% } else { %>

<h2>Welcome</h2>

   <% } %>
  </div>
</div>

<% include templates\_footer.ejs %>
